/*
  Data Output Tables
*/

table.data-output {
  border-collapse: collapse;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  text-align: left;
  vertical-align: top;
  padding: 6px;
  margin: 0;
}

table.data-output tr:hover {
  background-color: #EEEEFF;
}


table.data-output > thead > tr > th
,table.data-output > tbody > tr > td
{
  padding: 4px;
}

table.data-output > tbody > tr.gridded > td {
  border: 1px solid #CCCCCC;
}

table.data-output > thead > tr.gridded > th {
  border: 1px solid #CCCCCC;
}

table.data-output > tbody > tr.data-item-start > td
, table.data-output > tbody > tr.data-item > td {
  border-top: 1px solid #000000;
}

table.data-output > tbody > tr.data-item-end > td
, table.data-output > tbody > tr.data-item > td {
  border-bottom: 1px solid #000000;
}

table.data-output > tbody > tr.deleted > td {
  text-decoration: line-through;
}


/*
  Data Grids
*/

table.data-grid {
  border-collapse: collapse;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  text-align: left;
  vertical-align: top;
  padding: 6px;
  margin: 0;
}

table.data-grid tr:hover {
  background-color: #EEEEFF;
}


table.data-grid > thead > tr > th
,table.data-grid > tbody > tr > td
{
  padding: 4px;
}

table.data-grid > tbody > tr.gridded > td {
  border: 1px solid #CCCCCC;
}

table.data-grid > thead > tr.gridded > th {
  border: 1px solid #CCCCCC;
}

table.data-grid > tbody > tr.data-item-start > td
, table.data-grid > tbody > tr.data-item > td {
  border-top: 1px solid #000000;
}

table.data-grid > tbody > tr.data-item-end > td
, table.data-grid > tbody > tr.data-item > td {
  border-bottom: 1px solid #000000;
}

table.data-grid > tbody > tr.deleted > td {
  text-decoration: line-through;
}

td.number
{ text-align: right;
}

/*
  Labeled value formatting
*/
ul.name-value {
  list-style:none;
  padding-left: 5px;
}

ul.name-value > li {
  list-style:none;
  padding: 5px;
  
}

ul.name-value > li > label {
  display: block;
  font-weight: bold;
  font-size: 90%;
  text-align: left;
}


ul.name-value > li > div.data {
  display: block;
  text-align: left;
  font-size: 110%;
  padding-left: .25em;
}

ul.name-value-grid
{
  list-style:none;
  padding-left: 5px;
  display: table;
}

ul.name-value-grid > li
{
  list-style:none;
  padding: 5px;
  display: table-row;
}

ul.name-value-grid > li > label
{
  display: table-cell;
  text-align: right;
  font-weight: bold;
  font-size: 90%;
  padding: 4px;
}

ul.name-value-grid > li > .data
{
  display: table-cell;
  text-align: left;
  font-size: 110%;
  padding: 4px;
}
