* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.wrap-header {
  height: 65px;
  min-width: 491px;
}

.wrap-header > .inner {
  padding: 6px;        
  display: block;
  max-height: 65px;
  whitespace: no-wrap;
  width: 100%;
  min-width: 872px;
  text-align: center;
}

.wrap-header > .inner > .stretcher {
  clear: both;
}
.wrap-footer {
  height: 64px;
}

.wrap-body {
  padding-bottom: 59px;
}


.main-content {

}

/* Float main-footer at bottom */
.wrap-footer {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
}

.header-brand {
  display: inline-block;
  float: left;
  text-align: left;
}

.header-brand .image {
  display: inline-block;
  height: 48px;
  top:0;
  
}

.header-brand .image img {
  display: inline-block;
  line-height: auto;
}

.header-brand .brand {
  display: inline-block;
  position: relative;
  top: -5px;
}

.header-local-id {
  display: inline-block;
  color: #FFFFFF;
  height: 48px;
  vertical-align: top;
  text-align: center;
  min-width: 348px;
}

.brand .company {
  display: block;
}

.brand .product {
  display: block;
}

.header-auth-panel {
  display: inline-block;
  float: right;
  min-width: 252px;
  text-align: right;
} 


.header-auth-dropdown {
  text-align: right;
}
.header-auth-dropdown .dropdown-anchor {
  padding-left: 20px;
}

.header-auth-dropdown .dropdown-anchor:after {
  content: url("/images/spiralcraft-webapp/system/caret-down-white.png");
  padding-left: 4px;
}

ul.sc-field-grid {
  list-style: none;  
}



.center-dialog {
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  width: 40%;
  padding: 10px;
}

.center-dialog h2.title {
  margin-top:0px;
  margin-bottom: 10px;
  text-align: center;  
}

.center-dialog p {
  text-align: center;  
}

.center-dialog a {
  text-align: center; 
} 
  
.login-dialog {
  width: 25em;
}

.form-dialog {
  width: 31em;  
}

.form-dialog input[type="text"] {
  width: 66%;
}

.sc-form-button-bar {
  text-align: center;
  
}


/* 
 * Default Skin 
 */
.sc-dialog-body {
  background-color: #CCCCCC;
}

.center-dialog {
  background-color: #FFFFFF;
}
