* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  height: 100%;
}

.wrap-header {
  height: 65px;
  min-width: 491px;
}

.wrap-header > .inner {
  padding: 6px;        
  display: block;
  max-height: 65px;
  whitespace: no-wrap;
  width: 100%;
  min-width: 872px;
  text-align: center;
}

.wrap-header > .inner > .stretcher {
  clear: both;
}
.wrap-footer {
  height: 1%;
}

.wrap-body {
  height: 99%;
  padding-bottom: 1%;
}



/* Float main-footer at bottom */
.wrap-footer {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
}

.header-brand {
  display: inline-block;
  float: left;
  text-align: left;
}

.header-brand .image {
  display: inline-block;
  height: 48px;
  top:0;
  
}

.header-brand .image img {
  display: inline-block;
  line-height: auto;
}

.header-brand .brand {
  display: inline-block;
  position: relative;
  top: -5px;
}

.header-local-id {
  display: inline-block;
  color: #FFFFFF;
  height: 48px;
  vertical-align: top;
  text-align: center;
  min-width: 348px;
}

.brand .company {
  display: block;
}

.brand .product {
  display: block;
}

.header-auth-panel {
  display: inline-block;
  float: right;
  min-width: 252px;
  text-align: right;
} 


.header-auth-dropdown {
  text-align: right;
}
.header-auth-dropdown .dropdown-anchor {
  padding-left: 20px;
}

.header-auth-dropdown .dropdown-anchor:after {
  content: url("/images/spiralcraft-webapp/system/caret-down-white.png");
  padding-left: 4px;
}

ul.sc-field-grid {
  list-style: none;  
}



.center-dialog {
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  width: 40%;
  padding: 10px;
}

.center-dialog h2.title {
  margin-top:0px;
  margin-bottom: 10px;
  text-align: center;  
}

.center-dialog p {
  text-align: center;  
}

.center-dialog a {
  text-align: center; 
} 
  
.login-dialog {
  width: 25em;
}

.form-dialog {
  width: 31em;  
}

.form-dialog input[type="text"] {
  width: 66%;
}

.sc-form-button-bar {
  text-align: center;
  
}

.activity-container {
  width: 98%;
  margin: auto;
  padding: 10px;
  margin-top: 5px;
    
}

.activity-container .title {
  margin-top: 0;
}

.search-criteria-panel {
  padding: 5px;
  padding-bottom: 10px;
}

.search-criteria-panel .sc-form-button-bar {
  text-align: left;
  margin: 4px;
}

.search-result-table {
  border-collapse: collapse;
  border: 1px solid #CCCCCC;
}

.search-result-table td {
  border: 1px solid #CCCCCC;
  padding:2px;
}

.search-result-table tr {
  border: 1px solid #CCCCCC;
}

.search-result-table th {
  border: 1px solid #CCCCCC;
  padding: 2px;
}

/* 
 * Default Skin 
 */
.sc-dialog-body {
  background-color: #CCCCCC;
}

.center-dialog {
  background-color: #FFFFFF;
}

.activity-container {
  background-color: #FFFFFF;
    
}


.formlet-panel {
  text-align: left;  
}

.formlet-panel .sc-webui-form-field {
  display: table-row;
}

.formlet-panel .sc-webui-form-field label {
  display: table-cell;
  text-align: right;
  padding: 2px;
}

.formlet-panel .sc-webui-form-field input {
  margin: 2px;
}

.formlet-panel .sc-form-button-bar {
  text-align: inherit;
  margin-top: 5px;
}

.main-content {
  padding: 5px;
}

.main-header .nav-panel {

  padding: 0;
  margin: auto; 
  display: block;
  position: relative;
  border-bottom: 1px solid #000000; 
}

/* Force containing div to clear floats */
.main-header .nav-panel:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
}

.main-header .nav-panel ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-header .nav-panel li {
  display: inline;
  float:left; 
  position:relative;
  margin-bottom: -1px; /* "Tab Effect" Border overlap */
  padding: 0;
}

.main-header .nav-panel li a {
  border-width:1px 1px 1px 0px;
  border-style: solid;
  font-size:1.1em;
  text-decoration: none;
  padding: 4px;
  background: none repeat scroll 0 0 #CCCCCC;
  display: block;
  min-width: 15em;
  text-align: center;
}

.main-header .nav-panel li:hover a {
  background-color: #DDDDDD;
  color: #000000; 
}

.main-header .nav-panel li.selected a {
  border-bottom-color: #FFFFFF;
  background: none repeat scroll 0 0 #FFFFFF;
}

form.search {
  width: 400px; 
  margin: 10px auto;
  padding: 10px;
}

form.search .sc-form-button-bar {
  margin-top: 5px;
}

form.search .sc-form-field-panel {
  display: table;
}

form.search .sc-webui-form-field {
  display: table-row;
}

form.search .sc-webui-form-field label {
  display: table-cell;
  padding: 4px;
  text-align: right;
  min-width: 7em;
}

form.search .sc-webui-form-field input {
  display: table-cell;
}

form.search .sc-webui-form-field select {
  display: table-cell;
}

table.searchResult {
  border-collapse: collapse;
}

table.searchResult th {
  text-align: left;
  padding: 4px;
}

table.searchResult td {
  vertical-align: top;
  text-align: left;
  margin: 0;
  padding: 6px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  font-size: 10pt;
}

table.searchResult tr:hover {
  background-color: #EEEEFF;
}


div.searchResult-panel {
  height: 300px;
  width: 800px;
  margin: auto;
  overflow: auto;
  border: 1px solid #000000;    
}

div.searchResultSummary-panel {
  height: 20px;
  width: 100px;
  margin: auto;
  overflow: auto;
  border: none;
  text-align: center;
}


ul.name-value {
  list-style:none;
  padding-left: 5px;
}

ul.name-value li {
  list-style:none;
  padding: 5px;
  
}

ul.name-value li label {
  display: block;
  font-weight: bold;
  font-size: 80%;
  text-align: left;
}


ul.name-value li div.data {
  display: block;
  text-align: left;
  font-size: 125%;
  padding-left: .25em;
}

div.dataItemView-info {
  display: inline-block;
  
}

div.dataItemView-actions {
  display: inline-block;
  vertical-align: top;
}

div.dataItemView-actions a.button {
  min-width: 200px;
  font-size: 110%;
  margin: 40px;
  display: block;
}

div.dataItemView-actions a.button:after {
  content: "   \00BB";
}

div.session-view .dataItemView-info {
  min-width: 800px;
}

