* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

.wrap-header {
  height: 65px;
  width: 100%;
  
}

.wrap-header > .inner {
  padding: 6px;        
  display: flex;
  flex-flow: row wrap;
  max-height: 65px;
  width: 100%;
  min-width: 526px;
  text-align: center;
}

.wrap-header > .inner > .stretcher {
  clear: both;
}
.wrap-header-center {
  flex: 1;
}

.wrap-footer {
  height: 1%;
}

.wrap-body {
  flex: 1;
  padding-bottom: 1%;
}



/* Float main-footer at bottom */
.wrap-footer {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
}

.header-brand {
  display: inline-block;
  float: left;
  text-align: left;
}

.header-brand .image {
  display: inline-block;
  height: 48px;
  top:0;
  
}

.header-brand .image img {
  display: inline-block;
  line-height: normal;
}

.header-brand .brand {
  display: inline-block;
  position: relative;
  top: -5px;
}

.header-local-id {
  display: inline-block;
  color: #FFFFFF;
  height: 48px;
  vertical-align: top;
  text-align: center;
  min-width: 348px;
}

.brand .company {
  display: block;
}

.brand .product {
  display: block;
}

div.header-auth-panel {
  display: inline-block;
  float: right;
  min-width: 252px;
  text-align: right;
} 


.header-auth-dropdown:hover > ul {
  z-index: 9999;
}

.header-auth-dropdown:hover > ul > li > a {
	display: block;
}

div.header-auth-panel > a.dropdown-anchor {
  padding-left: 10px; 
}

div.header-auth-dropdown {
  text-align: right;
}

div.header-auth-dropdown .dropdown-anchor {
  padding-left: 20px;
}



div.header-auth-dropdown .dropdown-anchor:after {
  content: url("/images/spiralcraft-webapp/system/caret-down-white.png");
  padding-left: 4px;
}


div.crumbtrail-container {
  margin: 4px 4px 8px 4px;
}


div.center-dialog {
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  width: 40%;
  padding: 10px;
  text-align: center;
}

div.center-dialog h2.title {
  margin-top:0px;
  margin-bottom: 10px;
  text-align: center;  
}

div.center-dialog p {
  text-align: center;  
}

div.center-dialog a {
  text-align: center; 
} 
  
div.login-dialog {
  width: 25em;
}

div.register-dialog {
	width: 342px;
}

div.form-dialog form.data-entry {
	padding-top: 0;
	padding-bottom: 0;
}

div.activity-container {
  width: 98%;
  margin: auto;
  padding: 10px;
  margin-top: 5px;
  overflow: auto;    
}

div.activity-container .title {
  margin-top: 0;
}


div.activity-module
{
  display: inline-block;
  margin: auto;
  overflow: auto;
  vertical-align: top;
}

div.height-constrained-module
{ max-height: 500px;
}


/* 
 * Default Skin 
 */
.sc-dialog-body {
  background-color: #CCCCCC;
}

.center-dialog {
  background-color: #FFFFFF;
}

.activity-container {
  background-color: #FFFFFF;
    
}


.formlet-panel {
  text-align: left;  
}

.formlet-panel .sc-webui-form-field {
  display: table-row;
}

.formlet-panel .sc-webui-form-field label {
  display: table-cell;
  text-align: right;
  padding: 2px;
}

.formlet-panel .sc-webui-form-field input {
  margin: 2px;
}

.formlet-panel .sc-form-button-bar {
  text-align: inherit;
  margin-top: 5px;
}

.main-content {
  padding: 5px;
}

.magnum-dialog {
  text-align: center;   
}

.magnum-dialog .sc-field-grid {
  text-align: left;
  list-style: none; 
}

.magnum-dialog .sc-form-button-bar {
  margin-bottom: 5px;
}

.magnum-dialog .sc-field-row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.magnum-dialog .sc-field-row p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.magnum-dialog .check-row p {
  font-size: 9pt;
  display: inline-block;
  font-style: italic;
}

.magnum-dialog label {
  display: block;
  font-size: 15pt;
}

.magnum-dialog .check-row label {
  display: inline-block;
  font-size: 15pt;
}

.magnum-dialog input[type=text]
,.magnum-dialog input[type=password] 
{
  display: table-cell;
  font-size: 18pt;
  width: 90%;
}

.form-dialog .check-row input {
  font-size: 23pt;
  padding: 20px;
  font-weight: bold; 
  margin:2px; 
  margin-top: 5px;
  margin-right: 10px;
  vertical-align: baseline;    
  float: left;
  height: .5em;
  width: .5em;
}

.main-header .nav-panel {

  padding: 0;
  margin: auto; 
  display: block;
  position: relative;
  border-bottom: 1px solid #000000; 
}

/* Force containing div to clear floats */
.main-header .nav-panel:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
}

.main-header .nav-panel ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-header .nav-panel li {
  display: inline;
  float:left; 
  position:relative;
  margin-bottom: -1px; /* "Tab Effect" Border overlap */
  padding: 0;
}

.main-header .nav-panel li a {
  border-width:1px 1px 1px 0px;
  border-style: solid;
  font-size:1.1em;
  text-decoration: none;
  padding: 4px;
  background: none repeat scroll 0 0 #CCCCCC;
  display: block;
  min-width: 15em;
  text-align: center;
}

.main-header .nav-panel li:hover a {
  background-color: #DDDDDD;
  color: #000000; 
}

.main-header .nav-panel li.selected a {
  border-bottom-color: #FFFFFF;
  background: none repeat scroll 0 0 #FFFFFF;
}


@import url("data-forms.css");
@import url("data-tables.css");


/*
  Context for viewing data items
*/

div.dataItemView-info {
  display: inline-block;
  
}

div.dataItemView-actions {
  display: inline-block;
  vertical-align: top;
}

div.dataItemView-actions a.button {
  min-width: 200px;
  font-size: 110%;
  margin: 40px;
  display: block;
}

div.dataItemView-actions a.button:after {
  content: "   \00BB";
}

div.session-view .dataItemView-info {
  min-width: 800px;
}
