
#body
{
  text-align: center; /* IE5/Win */
}

/*
 * Fixed width container for entire layout
 */
#container 
{ 
  margin: 0 auto; 
  width: 960px;
  text-align: left;
}

#topbar {
  clear: both;
  width: 100%;
  background-color: #EFEFEF;
  list-stype-type:none;
}

#topbar-right {
  float: right;
  margin-right: 1em;	
	
}

#page { padding:2.2em; }

#header {
  clear: both;
  border-width:0; 
  padding:0;
}


#navbar {
  width: 100%;
  position: relative;
  list-style-type: none;
  overflow: visible;
}

/* Force containing div to clear floats */
#navbar:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
}

#content {
  float:left;
  width:594px;
}

#content-fullwidth {
  float:left;
  width:100%;
	
}

#content-box {
  width: 100%;
  overflow: auto;
}

#sidebars {
  margin-top:2em;
}

#sidebar-container-right {
  border:0 none;
  float:right;
  width:262px;
}

#sidebars {
  float: right;	
}

#post {
  padding-top: 2em;
  margin: 0em;
}

#workflow {
  padding-top: 2em;
  margin: 0;
}

#center-form {
  padding-top: 0;
  margin: 2em;
}


#search-results-panel {
  padding-top: 1em;
}

#entity-view-panel {
  padding-top: 1em;
}

#entity-edit-panel {
  padding-top: 1em;
}