

.sc-nav-menu {
  list-style: none outside none;
  position: relative; 
  overflow-y: visible; overflow-x: visible;
  display:block;
   /* height: 2.9em; ie specific- won't expand UL with floats */
}

.sc-nav-menu {
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

/* Force containing div to clear floats */
.sc-nav-menu:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
}


.sc-nav-menu { z-index: 50 ; }

.sc-nav-menu li.sc-nav-tab { 
  display:inline;
} /* horizontal */

.sc-nav-menu, .sc-nav-menu a, .sc-nav-menu li ul {
  border-color:#D4D4D4;
}


.sc-nav-menu a {
  text-decoration:none;
  color:black;
  background:#EFEFEF;
  padding:2px;
  display:block;
}

	
.sc-nav-menu a {
  border-width:1px 1px 1px 0;
  border-style: solid;
  font-size:1.1em;
  line-height:1.273em;
  padding:0.636em 0.818em;
}



.ul.sc-nav-menu li.sc-nav-tab a {
  padding-left: 1em;
  padding-right: 1em;
  z-index: 51;
	
}

div.sc-navbar-container {

  border-width:0 0 1px 1px; 
  border-style: solid;
  border-color: #D4D4D4;
  padding: 0;
	
}




.sc-nav-menu li {
  float:left; 
  position:relative;
  margin-bottom: -1px; /* "Tab Effect" Border overlap */
  
}

.sc-nav-menu li.sc-nav-tab-right {
  float:right; 
  position:relative;
}

.sc-nav-menu li.sc-nav-tab-right-first a {
  border-left-width: 1px;
}

.sc-nav-menu li.sc-nav-tab {
  /* Should not depend on type size */
  /* margin-bottom:-1px; */
}


.sc-nav-menu a:hover {
  background:#CCCCFF;
}

.sc-nav-menu, .sc-nav-menu a, .sc-nav-menu li ul {
  border-style:solid;
}

.sc-nav-menu .sc-nav-tab-current a {
  border-bottom-color: #FFFFFF;
  background: none repeat scroll 0 0 #FFFFFF;
}

.sc-nav-menu li.sc-spacer-tab {
  width:100%;
}