@import url("typography.css");
@import url("forms.css");
@import url("grid.css");
@import url("layout.css");
@import url("topbar.css");
@import url("navigation.css");


a {text-decoration: none}

body {
  background:none repeat scroll 0 0 #AAAAAA;
  color:#222222;
}

button.sc-form-completion-button { 
  background-color: #EFEFEF;
  border-style: solid;
  border-width: 0.1em;
  border-color: #000000;
}

button.sc-form-control-button { 
  background-color: #EFEFEF;
  border-style: solid;
  border-width: 0.1em;
  border-color: #000000;
  font-size: 80%;
}

#sc-container {
  background-color: #FFFFFF;
}

.sc-task-panel {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.sc-form-button-bar {
  margin-top: 1em;
}


.sc-form-field {
  padding-bottom: 0.4em;        
}


.sc-form-field label {
  display: block;       
}

.sc-form-head {
  height: 3em;
	
}

.sc-cell-numeric
{ text-align: right;
}

tr.sc-data-table-group-header
{ page-break-after: avoid;
}

tr.sc-data-table-group-footer
{ page-break-before: avoid;
}


tr.sc-data-table-group-header td
{ 
  padding-top: 1em;
  padding-bottom: 0.75em;
  font-size: 100%;
  background-color: #eeeeff;
  font-weight: bold;
}

tr.sc-data-table-group-footer td
{
  background-color: #eeeeff;
  font-weight: bold;
}

tr.sc-data-table-group-divider td
{
  height:1em;
  padding:0px;
  background-color: #FFFFFF;
}
    
tr.sc-data-table-footer td
{
  font-weight: bold;
  background-color: #ccccff;
}

.nav-level2 {
  font-size: 65%;
  font-weight: bold;
}

.search-result {
  border-width: 0.1em 0 0 0.1em;
  border-color: #D4D4D4;;
  border-style: solid;
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}

.search-result h4 {
  font-size:150%;
  margin-bottom: 0.5em;
	
}

.search-result-field {
  margin-bottom: 0.5em;
        
}

.search-result-field label {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  display: block;
        
}

.search-result-actions {
  float: right;
}

.search-result-actions ul {
  list-style: none outside none;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: relative; 
  overflow-y: visible; overflow-x: visible;
  display:block;
  min-height: 1em; /* ie specific- won't expand UL with floats */
  clear:both;
}

.search-result-actions li {
  display:inline;
}

.entity-view-field {
  margin-bottom: 1em;

  border-width: 0 0 0 0.1em;
  border-color: #D4D4D4;;
  border-style: solid;
  padding-left: 0.5em;
        
}

.entity-view-field label {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  display: block;
        
}

.entity-view-actions {
  float: right;
}

.entity-view-actions ul {
  list-style: none outside none;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: relative; 
  overflow-y: visible; overflow-x: visible;
  display:block;
  min-height: 1em; /* ie specific- won't expand UL with floats */
  clear:both;
}

.entity-view-actions li {
  display:inline;
}
