.sc-topbar a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  margin-left: 1px;
  margin-right: 1px;
  padding-left: .2em;
  padding-right: .2em;
  border-top-width: .1em;       
  border-style: solid;
  border-color: #AFAFFF;
}

.sc-topbar a:hover {
  border-color: #0000FF;
}

.sc-topbar li {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
  border-color: #AFAFFF;
  border-top-style: solid;
  border-top-width: .1em;
}

.sc-topbar ul { 
  position: relative;
  list-style: none outside none; 
  list-style-type: none;
  display: block;
  overflow: visible;
  clear: both;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  margin-top: -0.1em;
  border-top-style: solid;
  border-top-width: .1em;

}

/* Force containing div to clear floats */
.sc-topbar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}