a {text-decoration: none}

body {
  background:none repeat scroll 0 0 #FFFFFF;
  color:#222222;
}

button.form-completion-button { 
  background-color: #EFEFEF;
  border-style: solid;
  border-width: 0.1em;
  border-color: #000000;
}

button.form-control-button { 
  background-color: #EFEFEF;
  border-style: solid;
  border-width: 0.1em;
  border-color: #000000;
  font-size: 80%;
}

.form-button-bar {
  margin-top: 1em;
}


.form-field label {
  display: block;       
}

.sc-form-head {
  height: 3em;
	
}

.nav-level2 {
  font-size: 65%;
  font-weight: bold;
}

.search-result {
  border-width: 0.1em 0 0 0.1em;
  border-color: #D4D4D4;;
  border-style: solid;
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}

.search-result h4 {
  font-size:150%;
  margin-bottom: 0.5em;
	
}

.search-result-field {
  margin-bottom: 0.5em;
        
}

.search-result-field label {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  display: block;
        
}

.search-result-actions {
  float: right;
}

.search-result-actions ul {
  list-style: none outside none;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: relative; 
  overflow-y: visible; overflow-x: visible;
  display:block;
  min-height: 1em; /* ie specific- won't expand UL with floats */
  clear:both;
}

.search-result-actions li {
  display:inline;
}

.entity-view-field {
  margin-bottom: 1em;

  border-width: 0 0 0 0.1em;
  border-color: #D4D4D4;;
  border-style: solid;
  padding-left: 0.5em;
        
}

.entity-view-field label {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  display: block;
        
}

.entity-view-actions {
  float: right;
}

.entity-view-actions ul {
  list-style: none outside none;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: relative; 
  overflow-y: visible; overflow-x: visible;
  display:block;
  min-height: 1em; /* ie specific- won't expand UL with floats */
  clear:both;
}

.entity-view-actions li {
  display:inline;
}
